Repository Airkro/frontend-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{json,md}": [
    "prettier --write",
    "git add"
  ],
  ".{prettier,eslint,lintstaged}rc": [
    "prettier --write",
    "git add"
  ]
}

Bump dependencies
  .prettierrc
  package.json
  yarn.lock
Due: prettier --write

add pet-shop
  package.json
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  packages/pet-shop/readme.md
  yarn.lock
Due: prettier --write, eslint --fix

pet-shop add keys(), clear()
  package.json
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  packages/pet-shop/readme.md
  readme.md
  yarn.lock
Due: prettier --write, eslint --fix

add test of pet-shop
  .eslintrc
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  tests/ext-to-regexp.test.js
  tests/pet-shop.test.js
Due: prettier --write, eslint --fix

pin lodash
  .eslintrc.json
  .lintstagedrc
  .vscode/settings.json
  package.json
  tests/.eslintrc.json
  tests/pet-shop.test.js
  yarn.lock
Due: prettier --write, eslint --fix

Add license scan report and status
  readme.md
Due: prettier --write

Initial commit
  .editorconfig
  .eslintrc
  .gitignore
  .lintstagedrc
  .npmrc
  LICENSE
  jsconfig.json
  package.json
  packages/ext-to-regexp/index.d.ts
  packages/ext-to-regexp/index.js
  packages/ext-to-regexp/lib.js
  packages/ext-to-regexp/package.json
  packages/ext-to-regexp/readme.md
  packages/slash-to-regexp/index.d.ts
  packages/slash-to-regexp/index.js
  packages/slash-to-regexp/package.json
  packages/slash-to-regexp/readme.md
  readme.md
  tests/.eslintrc
  tests/ext-to-regexp.test.js
  tests/slash-to-regexp.test.js
  yarn.lock
Due: prettier --write, eslint --fix

Add pet-shop
  .eslintrc
  package.json
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  packages/pet-shop/readme.md
  readme.md
  tests/ext-to-regexp.test.js
  tests/pet-shop.test.js
  yarn.lock
Due: prettier --write, eslint --fix

Pin lodash
  .eslintrc.json
  .lintstagedrc
  .vscode/settings.json
  package.json
  readme.md
  tests/.eslintrc.json
  tests/pet-shop.test.js
  yarn.lock
Due: prettier --write, eslint --fix

Fix PetShop clear() method
  .eslintrc.json
  package.json
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  packages/pet-shop/readme.md
  tests/pet-shop.test.js
  yarn.lock
Due: prettier --write, eslint --fix

PetShop support json
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  packages/pet-shop/readme.md
  tests/pet-shop.test.js
Due: prettier --write, eslint --fix

Support dot in slash-to-regexp
  .eslintrc.json
  package.json
  packages/slash-to-regexp/index.js
  packages/slash-to-regexp/package.json
  packages/slash-to-regexp/readme.md
  tests/.eslintrc.json
  tests/ext-to-regexp.test.js
  tests/pet-shop.test.js
  tests/slash-to-regexp.test.js
  yarn.lock
Due: prettier --write, eslint --fix

Escape regexp in `slash-to-regexp`
  packages/slash-to-regexp/index.js
  packages/slash-to-regexp/package.json
  packages/slash-to-regexp/readme.md
  tests/slash-to-regexp.test.js
Due: prettier --write, eslint --fix

Fix `slash-to-regexp`
  packages/slash-to-regexp/index.d.ts
  packages/slash-to-regexp/index.js
  packages/slash-to-regexp/package.json
  tests/slash-to-regexp.test.js
Due: prettier --write, eslint --fix

Use negative lookbehind
  packages/slash-to-regexp/index.js
  packages/slash-to-regexp/package.json
  tests/slash-to-regexp.test.js
Due: prettier --write, eslint --fix

Suffix support for `ext-to-regexp`
  jsconfig.json
  package.json
  packages/ext-to-regexp/index.d.ts
  packages/ext-to-regexp/index.js
  packages/ext-to-regexp/lib.js
  packages/ext-to-regexp/package.json
  tests/ext-to-regexp.test.js
  yarn.lock
Due: prettier --write, eslint --fix

Fix usage exmaple
  packages/ext-to-regexp/package.json
  packages/ext-to-regexp/readme.md
Due: prettier --write

Add renovate.json
  renovate.json
Due: prettier --write

chore: remove `ext-to-regexp`
  .editorconfig
  .gitattributes
  .gitignore
  .hooks/commit-msg
  .hooks/pre-commit
  .npmrc
  .vscode/settings.json
  .whitesource
  LICENSE
  jsconfig.json
  package.json
  packages/ext-to-regexp/index.d.ts
  packages/ext-to-regexp/index.js
  packages/ext-to-regexp/lib.js
  packages/ext-to-regexp/package.json
  packages/ext-to-regexp/readme.md
  packages/pet-shop/index.js
  readme.md
  tests/.eslintrc.json
  tests/ext-to-regexp.test.js
  tests/pet-shop.test.cjs
  try.cjs
  yarn.lock
Due: prettier --write, eslint --fix

test: fixing
  package.json
  packages/slash-to-regexp/index.cjs
  packages/slash-to-regexp/package.json
  tests/pet-shop.test.cjs
  tests/slash-to-regexp.test.cjs
  tests/slash-to-regexp.test.js
  try.cjs
  yarn.lock
Due: prettier --write, eslint --fix

refactor(pet-shop): esm
  .githooks/commit-msg
  .githooks/pre-commit
  .gitignore
  package.json
  packages/pet-shop/README.md
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  tests/pet-shop.test.mjs
  yarn.lock
Due: prettier --write, eslint --fix

feat: safe json parse
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  tests/pet-shop.test.mjs
Due: prettier --write, eslint --fix

fix(pet-shop): mini-program support
  package.json
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor: code base
  .githooks/commit-msg
  .githooks/pre-commit
  .github/workflows/bring-it.yaml
  .gitignore
  LICENSE
  jsconfig.json
  package-lock.json
  package.json
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  packages/slash-to-regexp/index.cjs
  packages/slash-to-regexp/readme.md
  tests/pet-shop.test.mjs
  tests/slash-to-regexp.test.mjs
  tests/snapshots/pet-shop.test.mjs.md
  tests/snapshots/pet-shop.test.mjs.snap
  tests/snapshots/slash-to-regexp.test.mjs.md
  tests/snapshots/slash-to-regexp.test.mjs.snap
  yarn.lock
Due: prettier --write, eslint --fix

feat(pet-shop): smart
  .github/workflows/bring-it.yaml
  package-lock.json
  package.json
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  packages/slash-to-regexp/package.json
  tests/pet-shop.test.mjs
Due: prettier --write, eslint --fix

refactor: code base
  .npmrc
  package-lock.json
  package.json
  packages/pet-shop/index.js
  packages/pet-shop/package.json
  packages/slash-to-regexp/index.cjs
  packages/slash-to-regexp/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  syncpack.config.mjs
Due: prettier --write, eslint --fix

feat(pet-shop): createMiniStorage
  package.json
  packages/pet-shop/mini-store.js
  packages/pet-shop/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor: code base
  .githooks/commit-msg
  .githooks/pre-commit
  .github/workflows/bring-it.yaml
  eslint.config.mjs
  package.json
  packages/pet-shop/package.json
  packages/slash-to-regexp/index.d.ts
  packages/slash-to-regexp/package.json
  packages/slash-to-regexp/readme.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  syncpack.config.mjs
  tests/pet-shop.test.mts
  tests/slash-to-regexp.test.mts
  tests/snapshots/pet-shop.test.mjs.snap
  tests/snapshots/pet-shop.test.mts.md
  tests/snapshots/pet-shop.test.mts.snap
  tests/snapshots/slash-to-regexp.test.mjs.snap
  tests/snapshots/slash-to-regexp.test.mts.md
  tests/snapshots/slash-to-regexp.test.mts.snap
  tsconfig.json
Due: prettier --write

refactor(slash-to-regexp): typescript
  README.md
  package.json
  packages/slash-to-regexp/README.md
  packages/slash-to-regexp/index.d.ts
  packages/slash-to-regexp/package.json
  packages/slash-to-regexp/src/index.mts
  packages/slash-to-regexp/tsconfig.build.json
  tests/slash-to-regexp.test.mts
Due: prettier --write

refactor(pet-shop): typescript
  packages/pet-shop/index.js
  packages/pet-shop/mini-store.js
  packages/pet-shop/package.json
  packages/pet-shop/src/index.ts
  packages/pet-shop/src/mini-store.ts
  packages/pet-shop/tsconfig.build.json
  tests/pet-shop.test.mts
Due: prettier --write, eslint --fix

feat(pet-shop): fix types
  package.json
  packages/pet-shop/package.json
  packages/pet-shop/src/index.ts
  pnpm-lock.yaml
  tests/pet-shop.test.mts
  tests/snapshots/pet-shop.test.mts.md
  tests/snapshots/pet-shop.test.mts.snap
Due: prettier --write

fix(pet-shop): bug
  package.json
  packages/pet-shop/package.json
  packages/pet-shop/src/index.ts
  tests/pet-shop.test.mts
  tests/snapshots/pet-shop.test.mts.md
  tests/snapshots/pet-shop.test.mts.snap
Due: prettier --write

chore(lockfile): update
  pnpm-lock.yaml
Due: none

fix(pet-shop): bug
  packages/pet-shop/package.json
  packages/pet-shop/src/index.ts
Due: prettier --write
